{% extends 'base.html.twig' %}


{% block actionblock %}
    {% if user is not null %}
        <div class="home-profile-pic-div">
            <a href="#" ><span class="material-symbols-outlined">upload</span> </a>
            <a href="#" ><span class="material-symbols-outlined">shopping_cart</span></a>
            <a href="#" ><span class="material-symbols-outlined">report</span> </a>            
            <a href="{{ path('app_profile') }}" class="home-profile-picture">  <img src="{{ asset(user.picture ? 'uploads/pictures/' ~ user.picture : './images/default_avatar.jpg') }}" alt="Profile Picture"> </a>
           
        </div>    
    {% else %}
        <div class="auth-buttons">
            <a href="{{ path('app_signup')}}" class="signup-button" id="signup-button" ><i class="fa-solid fa-pen"></i>Sign Up</a>                
            <a href="{{ path('app_signin')}}" class="login-button" id="login-button"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a>
        </div>
    {% endif %}
{% endblock %}



{% block tochange %}
    {# action buttons #}
        <div class="popularity" id = "popularity">
            <button type ="submit" class="pop active" >Community</button>
            <button type ="submit" class="pop not-active">Trending</button>
            <button type ="submit" class="pop not-active">Latest</button>
        </div>
        <a href="#navdiv" class="go-up" ><span class="material-symbols-outlined">arrow_upward</span></a>
       
    <div class="home-container">

        <div class="top-collections-full">
            <h1 class="container-title">Top Collections</h1>
            <div class="top-collections-container special-container">
                <a href="">
                    <img src = "./images/cover-1738268999.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/LZ_4squarebig1.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/ds.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/artoriusanato-finnstark-web-petit.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/marcus-rovn-02.jpg" alt ="no image ">
                </a>
              
            </div>
        </div>

        <div class="top-artists-full">
            <h1 class="container-title">Top Artists</h1>
            <div class="top-artists-container special-container">
                 <a href="">
                    <img src = "./images/artoriusanato-finnstark-web-petit.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/artoriusanato-finnstark-web-petit.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/artoriusanato-finnstark-web-petit.jpg" alt ="no image ">
                </a>
            </div>
        </div>

        <div class="top-artworks-full">
            <h1 class="container-title">Top Artworks</h1>
            <div class="top-artwork-container special-container">
                <a href="">
                    <img src = "./images/marcus-rovn-02.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/yongzhao-zhu-1-311.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/guts2.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/andd2077-363366.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/wow.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/ggg.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/1.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/x-1.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/erik-vssdsdsdsdan-helvoirt-final-01.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/chengwei-pan-1sdsdsd.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/qsdqsdwwarfengwei-cui-maonv01-camera-1.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/yelli-.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images//vipaul-kwon-zeronis-vi.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/ewesnake-skin-1.jpg" alt ="no image ">
                </a>
                 <a href="">
                    <img src = "./images/iiiandrey-gritsuk-render-31-edit2.jpg" alt ="no image ">
                </a>
                
            </div>
        </div>

    </div>

{% endblock %}
