.table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.card-body .btn btn-primary {
    width: 150px;
}

.add-auction-admin-container {
    margin-top: 150px;
}