
.main-container{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper.jpg');
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh;
    overflow: hidden;
    font-family: devioussans02extrabold, "Helvetica Neue", Helvetica, Arial, メイリオ, meiryo, "ヒラギノ角ゴ pro w3", hiragino kaku gothic pro, sans-serif;
    font-weight: 400;
}


.logo-container{
    margin-top: 60px;
}
.logo-container img {
    margin-left: 60px;
    width: 60px;
    height: auto;
    border-radius: 10px;
}

.login-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-card{
    width: 47%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    background-color: white ; 
}

.image-container{ 
    background-position:center; 
    background-size: cover;
    width: 48%;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;  
}

.singin-image-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/anato-finnstark-web-peti.jpg);
}

.signup-image-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/toji.jpg);

}

.image-title{
    width: 70%;
    text-align: left;
}

.image-title h1 {
    color: white;
    font-weight: 800;
    font-size: 36px;
    margin: 130px 0 0 60px;
    line-height: 1.2; 
}

.image-paragraph{
    width: 77%;
    text-align: left;
}

.image-paragraph p {
    color: white;
    margin: 30px 0 0 60px;
    font-size: 14px;
    line-height: 1.4; 
}

.close-btn{
    display: flex;
    height: auto;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.close-btn a {
    margin-top: 20px;
    color: black;
}

.form-title{
    width: 80%;
    height: 100px;
}

.form-title h1 {
    font-size: 28px;
    font-weight: 800;
}


.form-container{
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.action-form{
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 15px;
}

.action-form  input {
    padding: 11px 10px 11px 10px ;
    outline: none;
    font-size: 15px;
    border: 1px solid #C9CACF ; 
    background-color: #FAFAFA;
    border-radius: 3px;
}
.action-form label{
    font-size: 13px;
    font-weight: 600;
}

.action-form button{
    padding: 12px 10px 12px 10px ;  
    border: 0;
    background-color: #0071F9 ; 
    color: white;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.action-form-row{
    display: flex;
    flex-direction: column;
}
.action-form ul {
    margin:0; 
    padding: 0;
}

.action-form ul li {
    font-size: 13px;
    font-weight: 600;
    color: red;
    list-style-type: none;
}


.forget-password-div a {
    text-align: right;
    color: #725D6C;
    font-size: 12px;
}

.forget-password-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.makeacc-link-div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.makeacc-link-div a {
    margin-top: 10px;
    text-align: right;
    color: #725D6C;
    font-size: 12px;
}




.signin-form button:hover{
    background-color:rgb(23, 98, 190) ; 
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px 0;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.separator span {
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    background-color: white; 
}

.api-btn {
    position: relative; 
    padding: 12px 10px;  
    background-color: #F8FAFF; 
    border: 1px solid #C9CACF; 
    border-radius: 4px;
    width: 80%;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.api-btn img {
    position: absolute;
    right: 10px; 
    width: 20px;
    height: auto;
}


/* Profile Styling */

.profile-div{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
.Portfolio-container{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    scroll-behavior: smooth;
    width: 78%;
}


.Portfolio-container .top-collections-container a {
    width: calc(32% - 1px); 
    aspect-ratio: 2 / 1.2;
    height: auto ; 
    max-width: 100%; 
    overflow: hidden;
}


.Portfolio-container .container-title {
    color:white ; 
    margin: 20px 0 0 30px;
    font-size: 27px;
    font-weight: 600;
}

.Portfolio-container .special-container {
    margin: 0;
}

.Portfolio-container .top-artwork-container a {
    width: calc(17% - 17px); 
    height: auto ; 
    max-width: 100%; 
    aspect-ratio: 1 / 1;
}

.Profile-container{
    width: 22% ; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.Profile  {
    margin-top: 70px;
    background-color: #202024;
    border-radius: 15px;
    width: 90%;
    height: 91vh;
}

.Profile-image{
    height: 22%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Profile-image img {
    width: 150px;
    object-fit: cover;
    height: 150px;
    border-radius: 50%;
}

.Profile-name{
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Profile-name h1 {
    color: white;
    font-weight: 700;
}

.Profile-name p {
    color: #909094;
}

.Profile-action{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Profile-action a {
    text-decoration: none;
    padding: 10px 17px 10px 17px ;
    border-radius: 8px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Profile-action-edit{
    background-color:rgb(13, 77, 155);
    color: black;
    transition: background-color 0.2s ease-in-out;
}
.Profile-action-edit:hover{
    background-color:rgb(13, 88, 180);
} 

.Profile-action-logout{
    background-color:#606064 ; 
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.Profile-action-logout:hover {
    background-color:rgb(122, 122, 122);
}

/*edit styling */
.main-edit-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.edit-select-contianer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.edit-select-img{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    margin-bottom: 30px;
}

.edit-select-info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.edit-select-info h1{
    color: white;
    font-size: 23px;
}

.edit-select-info h3{
    color : #707074 ; 
    font-weight: 400;
    font-size: 12px;
}

.edit-select-info p{
    color : #707074 ; 
    font-weight: 400;
    font-size: 14px;
}



.edit-select img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-select {
    height: 80vh;
    width: 50%;
}

.edit-card-container{
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
}

.edit-card{
    width: 770px ; 
    height: 155vh  ; 
    display: flex;
    flex-direction: column;
}
.edit-Title{
    width: 100%;
    height: 160px ; 
    min-height: 100px;
    max-height: 200px;
    background-color: #303034;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.edit-Title h1 {
    color: white;
    font-weight: 600;
    padding: 15px 0 0 25px;
}

.edit-Title p {
    font-size: 15px;
    color: #A3A3A8 ; 
    padding: 0 0 0 25px;
}

.edit-action-div{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #303034;
    background-color: #18181C;
    display: flex;
    flex-direction: row;
}

.edit-action-div-password {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #303034;
    background-color: #18181C;
    display: flex;
    flex-direction: row;
}

.edit-column-title{
    width: 36%;
    display: flex;
    align-items: center;
}

.edit-column-title div {
    width: 60%;
    padding-left: 30px;
    text-align: left;
    margin-left: 10px;
}

.edit-column-title div h2{
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.edit-column-title div p{
    padding-top: 5px;
    color: #BEBEC2;
    font-weight: 400;
    font-size: 14px;
}
.edit-column-input{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 64%;
}


.edit-column-input input {
    padding: 8px 10px 8px 10px;
    background-color: #101014 ; 
    width: 80%;
    border: 1px solid #303034;
    color: white;
    outline: none;
}

.extra-space{
    height: 400px;
    width: 100%;
    background-color: #101014;
}

.edit-danger-zone{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 64%;
    justify-content: space-between;
    align-items: center;

}

.edit-danger-zone a {
   margin: 0 20px 60px 0;
   text-decoration: none;
   color: red;
   font-size: 14px;
   font-weight: 400;
}

.edit-column-input textarea {
    background-color: #101014; 
    width: 82%;
    padding: 10px 0 0 10px;
    border: 1px solid #303034;
    color: white;
    outline: none; 
    resize: none; 
}


.edit-danger-zone button {
    padding: 7px 14px 7px 14px ;
    background-color:rgb(41, 89, 184) ; 
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease-out;
}

.edit-danger-zone button:hover  {
    background-color:rgb(50, 87, 161)  ; 
}

.edit-form ul {
    margin:0; 
    padding: 0;
}

.edit-form ul li {
    font-size: 13px;
    font-weight: 600;
    color: red;
    list-style-type: none;
}

.edit-form-componment{
    width: 100%;
}
.edit-form-componment-password{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}

.edit-form-componment-password button{
    width: 70px;
    padding: 6px 16px 6px 10px ;
    cursor: pointer;
    background-color: rgb(3, 70, 151);
    border: 0 ;
    color: white;
    transition: background-color 0.2s ease-in-out;
}


.edit-form-componment-password button:hover{
    background-color:rgb(37, 91, 156);
}


.edit-select-list{
    width: 83%;
    margin-left: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-select-list a {
    text-decoration: none;
    padding : 10px  0 10px 30px ;
    font-size: 16px;
    color: #BEBEC2;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.edit-select-list a:hover {
    color: white ; 
    background-color: #18181C;
}



/*verification page styling */

.verfication-container{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/images/bg1.png');
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh;
    overflow: hidden;
    font-family: devioussans02extrabold, "Helvetica Neue", Helvetica, Arial, メイリオ, meiryo, "ヒラギノ角ゴ pro w3", hiragino kaku gothic pro, sans-serif;
    font-weight: 400;
}
.verfication-page{
    width: 28%;
    height: auto ; 
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18181C
}

.verfication-page h1 {
    font-size: 35px;
    color: white;
}


.verfication-page form input {
    border-radius: 5px;
    padding: 16px 10px 16px 10px ;
    background-color: #101014 ; 
    border: 1px solid #303034 ; 
    color: white;
}

.verfication-page form button {
    padding: 16px 10px 16px 10px ;
    border-radius: 5px;
    margin-bottom: 50px;
}

.the-verification-message{
    width: 80%;
    height: 100px; 
    background-color:#a7c3e6 ; 
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verif-paragraph-holder{
    width: 80%;
}

.verif-paragraph-holder h3 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 17px;
  color:rgb(14, 75, 150) ; 
}