{% extends 'user/edit.html.twig' %}


{% block editpage %}
       <div class="edit-Title">
            <h1>Password</h1>
            <p>Highly Confidential  </p>
        </div>

        <div class="edit-action-div-password">
            <div class="edit-column-title">
                <div>
                    <h2>Chnage Your Password</h2>
                    <p>You can change your password in here  </p>
                </div>
            </div>

            <div class="edit-column-input">
                    <form class="edit-form-componment-password" action ="{{ path('app_change_password') }}" method="POST" >
                        <input type="password" name ="password" placeholder="Password"/>
                        <input type="password" name ="confirmpassword"placeholder ="Confirm password"/>
                        <button type="submit">save</button>
                    </form>
            </div>
        </div>


{% endblock %}